src/main/resources/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="MyNamespace"
           xmlns:myNam="MyNamespace"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="Person" type="myNam:PersonType"/>
  <xs:complexType name="PersonType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="LastName"/>
      <xs:element type="xs:string" name="Age"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>